<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Piadas</title>
</head>
<body>
    <section layout:fragment="corpo">
        <form th:action="${piada.id == null} ? @{/piadas/salvar} : @{/piadas/atualizar}" method="post" th:object="${piada}">
            <div class="col-auto m-3">
                <label for="descriacao" class="visually-hidden">Descrição</label>
                <input type="text" class="form-control" id="descricao" th:field="*{descricao}" required
                    placeholder="Descrição da piada">
            </div>
            <div class="col-auto m-3">
                <label for="resposta" class="visually-hidden">Resposta</label>
                <input type="text" class="form-control" id="resposta" th:field="*{resposta}"
                    placeholder="Resposta, se houver.">
            </div>
    
            <div class="form-check m-3">
                <input class="form-check-input" type="checkbox" th:field="*{possuiResposta}" id="possuiResposta">
                <label class="form-check-label" for="possuiResposta">
                    Possui Resposta
                </label>
            </div>
            <div class="col-auto m-3">
                <button type="submit" class="btn btn-primary mb-3">Salvar</button>
            </div>
            <input type="hidden" th:field="*{id}" id="id">
        </form>
    </section>
</body>
</html>